#FR-GES, #FR-NAQ, #FR-ARA, #FR-BFC, #FR-BRE, #FR-CVL, #FR-COR, #FR-OCC, #FR-HDF, #FR-NOR, #FR-PDL, #FR-PAC, #FR-IDF{
    fill: lightgray;
}

#FR-GES:hover{
    fill: blue;
}

.selected_FR_GES_win{
    fill: blue;
}

#FR-NAQ:hover{
    fill: red;
}

.selected_FR_NAQ_win{
    fill: red;
}

#FR-ARA:hover{
    fill: green;
}

.selected_FR_ARA_win{
    fill: green;
}

#FR-BFC:hover{
    fill: yellow;
}

.selected_FR_BFC_win{
    fill: yellow;
}

#FR-BRE:hover{
    fill: purple;
}

.selected_FR_BRE_win{
    fill: purple;
}

#FR-CVL:hover{
    fill: orange;
}

.selected_FR_CVL_win{
    fill: orange;
}

#FR-COR:hover{
    fill: pink;
}

.selected_FR_COR_win{
    fill: pink;
}

#FR-OCC:hover{
    fill: burlywood;
}

.selected_FR_OCC_win{
    fill: burlywood;
}

#FR-HDF:hover{
    fill: black;
}

.selected_FR_HDF_win{
    fill: black;
}

#FR-NOR:hover{
    fill: indigo;
}

.selected_FR_NOR_win{
    fill: indigo;
}

#FR-PDL:hover{ 
    fill: lightgreen;
}

.selected_FR_PDL_win{
    fill: lightgreen;
}


#FR-PAC:hover{
    fill: darkcyan;
}

.selected_FR_PAC_win{
    fill: darkcyan;
}


#FR-IDF:hover{
    fill: lightcoral;
}

.selected_FR_IDF_win{
    fill: lightcoral;
}

.disabled_map{
    pointer-events: none;
}

